.table {
    width: 1000px;
    margin-top: 32px;
  }
  
  .tableItem {
    text-align: left;
  }

  .tableItemQnty {
    text-align: left;
    width: 150px;
  }
  
  .total {
     display: flex;
     justify-content: flex-start;
     align-items: center;
  
  }