.holder{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 70vw;
}

.addProductsRow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70vw;
}

.addProductBtn {
    margin-bottom: 18px;
    margin-left: 32px;
}

.saveInvoiceBtnRow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
}
